* {
    user-select: none !important;
}

html {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    background-color: darkgray;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a; /* Use dark background in dark mode */
        color: white; /* Use light text in dark mode */
    }
}